In [2]:
import pandas as pd
import statsmodels.api as sm

In [6]:
df = pd.read_csv("data_metro.csv",delimiter=";")

In [12]:
df.drop(columns=['Código_es', 'nombre_estación'], inplace=True)

In [14]:
df.info()      # para ver tipos de datos y nulos
df.describe()  # resumen estadístico de las variables numéricas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   demanda            184 non-null    int64
 1   Num_linea          184 non-null    int64
 2   Cercanias          184 non-null    int64
 3   Bus_inter          184 non-null    int64
 4   Renfe_LR           184 non-null    int64
 5   Oficina_TPP        184 non-null    int64
 6   Eventodromo_500    184 non-null    int64
 7   Aparcadisu_gratis  184 non-null    int64
 8   Aparcadisu_pago    184 non-null    int64
 9   hog_tot            184 non-null    int64
 10  pob_tot            184 non-null    int64
 11  edad_media         184 non-null    object
 12  person_hogar       184 non-null    object
 13  renper_pon         184 non-null    object
 14  renhog_pon         184 non-null    object
 15  dens_pond          184 non-null    object
 16  por15_pon          184 non-null    object
 17  por65_pon          184 non-null    object
 18  por1664pon         184 non-null    object
 19  poresp_pon         184 non-null    object
 20  porext_pon         184 non-null    object
 21  poractivid         184 non-null    object
 22  poract_pon         184 non-null    object
 23  %1mujsol_p         184 non-null    object
 24  %1hactsolp         184 non-null    object
 25  %1mujmay_p         184 non-null    object
 26  %1hommay_p         184 non-null    object
 27  %1mujmad_p         184 non-null    object
 28  %1hompad_p         184 non-null    object
 29  %2adusol_p         184 non-null    object
 30  %2adusma_p         184 non-null    object
 31  %2adumen_p         184 non-null    object
 32  %2adu2mn_p         184 non-null    object
 33  %2adu3mn_p         184 non-null    object
 34  %2adu1jv_p         184 non-null    object
 35  %2a1jv1m_p         184 non-null    object
 36  %2a1jv2m_p         184 non-null    object
 37  %3adul_pon         184 non-null    object
 38  %2ad2jv_p          184 non-null    object
 39  %2a2j1m_p          184 non-null    object
 40  %2a2j2m_p          184 non-null    object
 41  %4adulto_p         184 non-null    object
 42  %5adulto_p         184 non-null    object
 43  %15perso_p         184 non-null    object
 44  %menas_p           184 non-null    object
dtypes: int64(11), object(34)
memory usage: 64.8+ KB

,demanda,Num_linea,Cercanias,Bus_inter,Renfe_LR,Oficina_TPP,Eventodromo_500,Aparcadisu_gratis,Aparcadisu_pago,hog_tot,pob_tot
count,1.840000e+02,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,3.461486e+06,1.293478,0.326087,0.027174,0.016304,0.048913,0.114130,0.027174,0.038043,615.391304,1462.407609
std,3.275304e+06,0.610259,1.268437,0.163034,0.126989,0.216275,0.318837,0.163034,0.191823,91.557138,273.406145
min,3.309050e+05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,431.000000,1063.000000
25%,1.631860e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,550.750000,1278.250000
50%,2.518122e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,613.500000,1415.500000
75%,3.819842e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,672.000000,1566.750000
max,2.174841e+07,4.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1132.000000,2713.000000

In [15]:
# Matriz de correlación de todas las variables numéricas
correlacion = df.corr(numeric_only=True)

# Ver las primeras filas (opcional)
correlacion.head()

,demanda,Num_linea,Cercanias,Bus_inter,Renfe_LR,Oficina_TPP,Eventodromo_500,Aparcadisu_gratis,Aparcadisu_pago,hog_tot,pob_tot
demanda,1.000000,0.677780,0.376792,0.541901,0.302549,0.559543,-0.015385,-0.019976,0.210894,0.016880,-0.168679
Num_linea,0.677780,1.000000,0.165128,0.303870,0.149457,0.304670,-0.032663,0.029253,0.137504,0.006931,-0.216191
Cercanias,0.376792,0.165128,1.000000,0.274008,0.679229,0.260250,-0.092526,0.062614,0.442821,0.135631,0.148628
Bus_inter,0.541901,0.303870,0.274008,1.000000,0.506365,0.272051,-0.059989,-0.027933,-0.033237,-0.022315,-0.039234
Renfe_LR,0.302549,0.149457,0.679229,0.506365,1.000000,-0.029196,-0.046210,-0.021517,0.198725,-0.029221,-0.046622

In [16]:
correlacion['demanda'].sort_values(ascending=False)

demanda              1.000000
Num_linea            0.677780
Oficina_TPP          0.559543
Bus_inter            0.541901
Cercanias            0.376792
Renfe_LR             0.302549
Aparcadisu_pago      0.210894
hog_tot              0.016880
Eventodromo_500     -0.015385
Aparcadisu_gratis   -0.019976
pob_tot             -0.168679
Name: demanda, dtype: float64